.page-title {
  @apply text-2xl mt-20;
}

.section {
  @apply mb-[100px] lg:mb-[200px];
  display: flex;
  flex-wrap: wrap;
}

.section__title {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
}

.section__title-num {
  position: absolute;
  top: -10px;
  font-size: 14px;
  font-weight: 400;
  color: theme('colors.sky.600');
}

.section__title-num::after {
  position: absolute;
  top: 100%;
  left: 150%;
  display: inline-block;
  width: 16px;
  height: 1px;
  content: '';
  background-color: theme('colors.sky.600');
  transform: rotate(305deg);
}

.section__title-text {
  @apply lg:text-2xl text-xl;
  position: relative;
  padding-left: 50px;
  font-weight: 300;
}

.section__title-text::after {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 200px;
  height: 1px;
  margin-left: 15px;
  content: '';
  background-color: theme('colors.black.500');
  transform: translateY(-50%);
}

.list__item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
}

.list__item::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 7px;
  height: 7px;
  content: '';
  background-color: theme('colors.sky.600');
  border-radius: 1px;
  transform: translateY(-50%) rotate(40deg);
}

.list__item--outline::before {
  background-color: #ffffff;
  border: 1px solid theme('colors.sky.600');
}

.list__item--yellow::before {
  background-color: theme('colors.yellow.400');
}

.list__item--outline.list__item--colorful:nth-child(odd)::before {
  border: 1px solid theme('colors.yellow.400');
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: theme('colors.sky.600');
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: theme('colors.sky.700');
}

.btn--outline {
  color: theme('colors.sky.600');
  background-color: #ffffff;
  border: 1px solid theme('colors.sky.600');
}

.btn--outline:hover {
  color: #ffffff;
  background-color: theme('colors.sky.600');
}

/* .growth_circle-orbit-line {
  fill: none;
  stroke: theme('colors.gray.200');
  stroke-width: 1;
} */
