.tab {
  @apply flex gap-4 lg:justify-end pt-10 -mb-4;
}

.tab__item {
  @apply text-gray-800 cursor-pointer relative py-4;
  transition: all 0.25s;
}

.tab__item:hover {
  @apply text-sky-500;
}

.tab__item::before {
  @apply bg-sky-600;
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: -30px;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%) rotate(0deg);
  opacity: 0;
  transition: all 0.25s;
}

.tab__item--active::before {
  transform: translateX(-50%) rotate(45deg);
  opacity: 1;
  top: -5px;
}

.works__desc {
  @apply text-gray-800;
  opacity: 1;
}
