.tab {
  @apply md:flex gap-4 lg:justify-end pt-10 lg:-mb-4 z-10 relative;
}

.tab__item {
  @apply text-gray-800 cursor-pointer relative md:py-4 py-1 pl-[20px];
  transition: all 0.25s;
}

.tab__item:hover {
  @apply text-sky-500;
}

.tab__item::before {
  @apply bg-sky-600 top-[50%] translate-y-[-50%] left-[-5px] md:top-[-30px] md:left-[50%] md:translate-x-[-50%] md:rotate-0;
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 2px;
  opacity: 0;
  transition: all 0.25s;
}

.tab__item--active::before {
  @apply top-[50%] translate-y-[-50%] left-[-5px] md:top-[0px] md:translate-x-[-50%] rotate-45;
  opacity: 1;
}

.works__desc {
  @apply text-gray-800;
  opacity: 1;
}
