@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video  {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	font-family: "微軟正黑體", "新細明體";
}
@font-face{
	font-family: myFontNum;
	src: url("../font/Gidole-Regular.otf");
}



.section .content .c-columns.content-centered .title-desc .border:before{
	border: none;
}
.section .content .c-columns.content-centered .title-desc .border{
	margin-bottom: 0px;
	padding-bottom: 30px;
}




/*----------
調整logo
------------*/
.header-top .logo-wrapper .logo .myLogo{
	width: 80%;
	height: auto;
}
.header-top .logo-wrapper .logo .logo-text .title::after{
	width: 200px;
	height: 100px;
	background-color: #fff;
	position: absolute;
}
.show-for-medium-up{
	display: block;
}
.header-top{
	position: fixed;
}
.header-top .logo-wrapper .logo .myDesc{
	font-size: 18px;
    margin-left: 16px;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}



/*----------
調整首頁
------------*/
.section-home .content .desc{
	max-width: 600px;
}
.section .content .c-columns.content-centered .title-desc p{
	text-align: justify;
	line-height: 1.5rem;
	 
}
.section .content .c-columns.content-centered .title-desc .myheadertitle{
	text-align: center;
}
.section-home .content-centered .desc.myheadertitleText{
	margin-top: 0px;
	padding-top: 0px;
}
.section-home .content-centered .desc.myheadertitleText .myheadertitle{
	text-shadow: 0px 0px 2px #fff;
}


/*----------
首頁換圖
------------*/
.picOutter{
	width: 100%;
	height: 500px;
	position: relative;
	top: -200px;
	/*min-width: 1200px;*/
	background-size: 120%;
	background-position: top center;

	animation-delay: 0s;
	animation-name: example;
	animation-duration: 10s;
	}

@keyframes example {
	0%   {background-size: 150%;}
	100% {background-size: 120%;}
	}	

.picChange{
	position: relative;
	/*width: 650px;
	height: 450px;*/
	top: 180px;
	z-index: 1;
}
.picChange img{
	position: absolute;
	left: 0px;
	margin: 0px auto;
	width: 100%;
}
.whiteText{
	position: absolute;
	margin: 3.5%;
	width: 93%;
	/*height: 350px;*/
	z-index: 2;
	display: none;
	top: 10px;
}




/*----------
調整 左側選單
------------*/
.main-menu ul li a .txt{
	text-align:left;
	width:200px;
}
.main-menu ul li a .icon{
	margin-top: 5px;
}
.main-menu ul li a .icon.fa{
	margin-top: 10px;
}
.main-menu ul li.active .icon{
	color: #B9070A;
}
.main-menu ul li a:hover{
	color: #B9070A;
}
.main-menu ul li a .myTechnology_icon,.main-menu ul li a .myFinance_icon{
	margin-top: 8px;
    font-size: 26px;
}
.main-menu ul li a .myC_icon{
	margin-top: 8px;
}

/*----------
調整介紹 section
------------*/
.myQuote_left,.myQuote_right{
    font-size: 1.8rem;
    position: relative;
	top: 30px;
	display: inline;
}
.myQuote_left{
    left: -300px;
}
.myQuote_right{
    right: -300px;
}
.myQuote_right::before{
	transform: rotateY(180deg);
}



/*----------
調整優勢 section
------------*/

.main-anim .section .anim .title-desc .anim-wrapper p{
	margin-bottom: 20px;
}

.main-anim .section.active .anim .item-list li.anim:nth-child(1) .item-desc h3,.main-anim .section.active .anim .item-list li.anim:nth-child(2) .item-desc h3,.main-anim .section.active .anim .item-list li.anim:nth-child(3) .item-desc h3,.main-anim .section.active .anim .item-list li.anim:nth-child(4) .item-desc h3{
	font-size: 1.2rem;
	line-height: 1.5rem;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 800;
}
.main-anim .section.active .anim .item-desc p:nth-child(1){
	line-height: 1.5rem;
	margin-top: 10px;
	text-align: justify;
}
.section .content .c-columns.content-centered .myAdvantageTitle p{
	text-align: center;
}

/*----------
調整scroll down位置
------------*/

.changeBtnGroup .cta-btns .btn-normal .txt{
	/*padding: 0px;
	position: relative;
	top: -3px;*/
}
.scrolldown .txt{
	color: rgba(255, 255, 255, 0.2);
	transition: all 0.3s;
	margin-right: 75px;
}
.scrolldown .txt:hover{
	color: rgba(255, 255, 255, 0.6);
}
.scrolldown{
	left: 49%;
}



/*-----------
調整每頁標題位置 
-------------*/
.section .content .c-columns.content-centered .title-desc .border{
	border: none !important; 
}
.title-desc{
	padding-top: 70px;
}


/*-----------
調整輪播廣告版面位置 
-------------*/

.overview-block-ptb{
	padding: 0px;
}
.instruction ul li{
	text-align: left;
	margin: 10px 0px;
}

.imgPlay{
	position: relative;
}
.my-col-1{
	-webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
}
.slider-container {
	left: 55%;
}
.scrolldown a:before,.scrolldown a:after{
	right: 55%;
}
.slider-container .slider-left{
	right:108%;
}
.slider-container .slider-right{
	left:108%;
}
.computerAd .slider-container .slider-content{
	width: 90%;
	height: 90%;
}
.slider-container .slider-content .slider-single .slider-single-image{
	box-shadow: none;
}
.mobileAd{
	display: none;
}
.mobileAd .slider-container{
	height: 530px;
}
.adSection{
	position: relative;
}
.instruction{
	position: absolute;
}

/*-----------
交換PC MOBILE BTN和圖片轉換BTN
-------------*/

.section .content .c-columns.content-centered .title-desc .btnChang{
	margin: 0px 5px;
}
.myIconLR{
	font-size: 3rem;
}


/*-----------
調整輪播廣告版面說明文字樣式 
-------------*/

.instructionTitleInner {
    padding-bottom: 3px;
}
.instructionNum{
	font-size: 2.5rem;
	font-family: myFontNum;
	color: #ce0f0f;
}
.tn-Ad-mobile-instruction .myUl .instructionTitle .instructionTitleInner .instructionNum,.tn-Ad-Pc-instruction .myUl .instructionTitle .instructionTitleInner .instructionNum{
	color: #ce0f0f;
}
.c-Ad-mobile-instruction .myUl .instructionTitle .instructionTitleInner .instructionNum,.c-Ad-Pc-instruction .myUl .instructionTitle .instructionTitleInner .instructionNum{
	color: #1b35cc;
}
.finance-Ad-mobile-instruction .myUl .instructionTitle .instructionTitleInner .instructionNum,.finance-Ad-Pc-instruction .myUl .instructionTitle .instructionTitleInner .instructionNum{
	color: #116006;
}
.instructionTitleText{
    padding: 0px 30px;
    font-size: 1.3rem;
}
.instructionTitle .border{
	margin: 0px;
	height: 0px;
}

.instructionTextBtn .btn-normal{
	right: 0px;
    position: absolute;	
}  
.myNote{
	font-size: 0.8rem;
}

/*-----------
換場 
-------------*/

.transition_section{
	display: none;
}

@media (max-width: 1630px) {
	.slider-container .slider-left{
		right:101%;
	}
	.slider-container .slider-right{
		left:101%;
	}
	.slider-container .slider-content{
		width: 80%;
		height: 80%;
	}
}
@media (max-width: 1480px) {
	.slider-container .slider-left{
		right:95%;
	}
	.slider-container .slider-right{
		left:95%;
	}
	.slider-container .slider-content{
		width: 70%;
		height: 70%;
	}

}
@media (max-width: 1360px) {
	.slider-container .slider-left{
		right:87%;
	}
	.slider-container .slider-right{
		left:87%;
	}
	.slider-container .slider-content{
		width: 60%;
		height: 60%;
	}
}
@media (max-width: 1199px) {
	.slider-container .slider-left{
		right:95%;
	}
	.slider-container .slider-right{
		left:95%;
	}
	.slider-container .slider-content{
		width: 70%;
		height: 70%;
		top:45%;
	}
	.screenshots-slider{
		min-height:420px;
	}
	.instruction ul li{
		text-align: center;
	}
	.adSection{
		min-height: 450px;
		margin-bottom: 30px;
	}
	.section .content .c-columns.content-centered .title-desc .border{
		margin-bottom: 0px;
	}
	.my-col-1{
		display: none;
	}
	.instruction{
		top:-40px;
	}
	.imgPlay{
		top: 20px;
	}
	.title-desc {
		padding-top: 120px;
	}
	.slider-container {
		left: 50%;
	}
}

@media (max-width: 1045px) {
	.slider-container .slider-left{
		right:87%;
	}
	.slider-container .slider-right{
		left:87%;
	}
	.slider-container .slider-content{
		width: 60%;
		height: 60%;
	}
	.screenshots-slider{
		min-height:420px;
	}
	.slider-container {
		left: 50%;
	}
}
@media (max-width: 1024px) {
	.imgPlay{
		/*top: 90px;*/
	}
	.screenshots-slider{
		min-height: 700px;
	}
	
}
@media (max-width: 979px) {
	.slider-container {
		left: 0%;
	}
	.myQuote_left, .myQuote_right{
		display: none;
	}
	.screenshots-slider{
		min-height: 390px;
	}
	.computerAd .slider-container .slider-content{
		height: 55%;
	}

}
@media (max-width: 849px) {
	.computerAd .slider-container .slider-content{
		height: 45%;
	}
	.mobileAd .slider-container .slider-content{
		height: 45%;
	}
	.section .content .c-columns .c-title{
		margin-top: 100px;
	}
	.section .cta-btns .btn{
		margin-top:70px;
	}
	.imgPlay{
		top: 0px;
	}
	.section .instructionTextBtn .btn{
		margin-top: 0px;
	}
	.site-footer .links li a{
		padding: 12px 3px;
		font-size: 14px;
	}

}
@media (max-width: 768px) {
	.picOutter{
		height: 350px;
	}
	.section .content .c-columns.content-centered .title-desc .border{
		font-size: 2.5rem;
	}
	.computerAd .slider-container .slider-content{
		height: 65%;
	}
}
@media (max-width: 767px) {
	.imgPlay{
		top: 0px;
	}
	.screenshots-slider{
		min-height: 300px;
	}
	.computerAd .slider-container .slider-content{
		height: 80%;
	}
	.mobileAd .slider-container .slider-content{
		height: 50%;
	}
	.section .content .c-columns.content-centered .title-desc .border{
		margin-bottom: 50px;
	}
	.title-desc{
		padding-top: 0px;
	}
@media (max-width: 680px) {
	.computerAd .slider-container .slider-content{
		height: 50%;
	}

}
@media (max-width: 600px) {
	.section-home .content .desc{
		/*max-width: 0px;	*/
	}
	.section.small-bg-color,.section-about{
		background-color: #1D1D1D;
	}
	.section .content .c-columns.content-centered .title-desc .border{
		font-size: 1.6rem;
	}
	.about-desc_btn{
		display: none;
	}
	.main-anim .section.active .anim .item-desc p:nth-child(1){
		text-align: center;
		font-size: 14px;
	}
	.section .content .item-list li{
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.section .content .c-columns.content-centered .title-desc .border{
		margin-bottom: 0px;	
	}
	.section .content .c-columns.content-centered .title-desc .myheadertitle{
		font-size: 1rem;
		margin-top: 25px;
	}
	.section .cta-btns .btn{
		margin-top: 0px;
	}
	#great-screenshots.overview-block-ptb{
		padding-top: 0px;
	}
	.section .content .c-columns .c-title h2{
		color: #fff;
	}
	.section .content .c-columns .c-title h2::before,.section .content .c-columns .c-title h2::after{
		position: absolute;
		width:0;
		border-width:10px;
		border-style:solid;
		border-color:transparent transparent transparent #fff; /* transparent 设置边框颜色透明 */
		content: "";
		border-radius: 10%;
		top: 110px;
	}
	.section .content .c-columns .c-title h2::after{
		right: 20px;
		border-color:transparent #fff transparent transparent ; /* transparent 设置边框颜色透明 */
	}
	.section .content .c-columns .c-title h2::before{
		left: 20px;
	}
	.transition_section{
		display: block;
		background: url(../images/bg02.jpg) no-repeat fixed;
	}
	.transition_section_inner{
		min-height: 350px;
	}
	.adSection{
		min-height: 400px;
	}
	.footerInner{
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		-webkit-flex-direction: row;
		-webkit-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
		justify-content:center;

	}
	.site-footer .links li:nth-child(1) a .line{
		display: none;
	}
	.section-contact .fp-slides .fp-slidesContainer .content .c-columns .wrapper{
		padding-bottom: 120px;
	}
	.section-home .content .c-columns .wrapper{
		padding-top: 100px;
	}
	.section .content .c-columns.content-centered .title-desc p{
		font-size: 14px;
	}
	.mobileAd .imgPlay .screenshots-slider .slider-container .slider-content{
		top: 30%;
		height: 45%;
	}
	.mobileAd .imgPlay .screenshots-slider .slider-container .mobileBtn_right,.mobileAd .imgPlay .screenshots-slider .slider-container .mobileBtn_left{
		top: 30%;
	}
	.myHeader{
		height: 90px;
		/*background-color: rgba(29,29,29,1.00);*/
	}
	.site-footer .links li a{
		font-size: 12px;
	}
	.site-footer .note p{
		font-size: 12px;
	}
	.section.small-bg-black{
		background-color: transparent;
	}
}
@media (max-width: 480px) {
	.computerAd .slider-container .slider-content{
		height: 70%;
	}
	.header-top .logo-wrapper .logo .myLogo{
		width: 35%;
	}
	.header-top .logo-wrapper .logo .myDesc{
		font-size: 12px;
		margin-left: 0px;
	}
	.picOutter{
		height: 250px;
	}
	.myIconLR{
		font-size: 2rem;
	}
	.site-footer .bottom-menu-links{
		/*right: 0px;*/
	}
	.linksInner{
		right: 0px;
	}
	.mobileAd .imgPlay .screenshots-slider .slider-container .slider-content{
		top: 30%;
		height: 32%;
	}
	.section .content .c-columns.content-centered .title-desc .myheadertitle{
		margin-top: 5px;
		font-size: 0.8rem;
	}

}
@media (max-width: 350px) {
	.computerAd .slider-container .slider-content{
		height: 58%;
	}
	.btn-normal{
		padding-left: 10px;
		padding-right: 10px;
	}
	.section .content .c-columns .c-title h2::before, .section .content .c-columns .c-title h2::after{
		display: none;
	}
	.section .content .c-columns.content-centered .title-desc .myheadertitle{
		margin-top: 0px;
	}
	.section-home .content-centered .title{
		margin-top: 0px;
	}
	.instructionTitleText{
		padding: 0px 15px;
	}
	
}





