/*-- 
================================
	reset
================================ 
--*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; 
  font-family: "roboto" ,"microsoft jhenghei";
}

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }


body {
  position: relative; }

a {
  color: #92D92A;
}
a:hover {
  color: #75AE21;
}


/*
================================
  Nav
================================
*/
.reportNav{
	background-color: #ffffff;
	border-bottom: 1px solid #E8E8E8;
	padding-top: 10px;
	padding-bottom: 10px;

}

.navbar{
  max-width: 75%;
	margin: auto
}
.hr{
	width: 90px;
}
.hr, .reportTitle{
	margin-top: 10px;
}

.hr hr{
	border-top-color: #707070;
}
.reportTitle{
	font-size: 18px;
	letter-spacing: 1px;
	margin-left: 10px;
}
.TFlogo_reportLogo{
  width: 310px;
}



/*
================================
  主視覺
================================
*/
.index_bg{
	background: -webkit-radial-gradient(#2F717C, #235B67, #174754, #103947, #0B313F, #0A2F3D); /* Safari 5.1- 6.0 */
	background: -o-radial-gradient(#2F717C, #235B67, #174754, #103947, #0B313F, #0A2F3D); /* Opera 11.6-12.0 */
	background: -moz-radial-gradient(#2F717C, #235B67, #174754, #103947, #0B313F, #0A2F3D); /* Firefox 3.6-15 */
	background: radial-gradient(#2F717C, #235B67, #174754, #103947, #0B313F, #0A2F3D); /* 标准语法 */
	background-position: 10% center;
	background-size: 300% 200%;
}
.index_bg .main_element01{
	position: absolute;
	right: -150px;
}
.main img {
  position: absolute; 

}
.main img.main_element03 {
  width: 90%;
  left: -10%;
}
.main img.main_element03-sm {
  display: none;
}
.main img.main_element04 {
  width: 110%;
  right: -10%;
}
#img_h{
  background: no-repeat bottom center;
  background-image: url("../images/bg_bootom.png") ;
}





/*
================================
  content public setting
================================
*/
.myHeader {
  padding: 0; }

.myRow {
  padding-top: 200px;
  padding-bottom: 200px; }
.myRowInner{
  padding: 20px;
}
.myH1, .myH2, .myP ,.myH5 {
  color: #707070;
  line-height: 1.8; }

.myH1 {
  font-size: 32px;
  color: #555555;
  font-weight: 800;
  text-align: center;
  position: relative;
  margin-bottom: 50px; }
  .myH1::after {
    content: "";
    width: 5%;
    height: 2px;
    background-color: #04D39C;
    position: absolute;
    bottom: -10px;
    margin: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    left: 50%;
    transform: translateX(-50%); }


.myH1-left{
  text-align: left; 
}
.myH1-left::after {
  left: 0%;
  transform: translateX(0%); }




/*
================================
  sectionFirst foreword
================================
*/
#sectionFirst .myH2 {
  color: #4C4C4C;
  font-weight: 500;
 }

.myH2 {
  font-size: 19px;
  font-weight: 700;

  /* margin-left: 10px; */
  color: #418139; }
.myH2:not(:first-child){
  margin-top: 20px;
}

.myH5{
  font-size: 20px;
  font-weight: 800;
}

.myP {
  font-size: 16px;
}


/*
================================
  sectionTwo provide
================================
*/
#sectionFirst, #sectionThird {
  background-color: #fff; }

#sectionFirst {
  padding-top: 150px;
  padding-bottom: 0px; }



/*
================================
  sectionTwo provide
================================
*/
#sectionTwo .sectionInner {
  border: 1px solid #2F717C;
  margin-top: 250px;
  padding-top: 200px;
  padding-bottom: 50px;
  background-color: #fff;
  }
 .reportProvideImgOuter{
   position: relative;
 } 
 .reportProvideImgOuter img{
  position: absolute;
  width: 500px;

  left: 50%;
  transform: translateX(-50%) translateY(-110%);
  z-index: 5;
} 

.reportProvideItemImg,.reportSuitableItemImg,.reportHelpItemImg{
  width: 100px;
  display: block;
  margin: auto;
}
.provideItem{
  margin-bottom: 30px;
}






/*
================================
  sectionThird suitable
================================
*/
#sectionThird{
	background: -webkit-radial-gradient(#2F717C, #235B67, #174754, #103947, #0B313F, #0A2F3D); /* Safari 5.1- 6.0 */
	background: -o-radial-gradient(#2F717C, #235B67, #174754, #103947, #0B313F, #0A2F3D); /* Opera 11.6-12.0 */
	background: -moz-radial-gradient(#2F717C, #235B67, #174754, #103947, #0B313F, #0A2F3D); /* Firefox 3.6-15 */
	background:  url("../images/bg_top.png"), radial-gradient(#2F717C, #235B67, #174754, #103947, #0B313F, #0A2F3D); /* 标准语法 */
	background-position: top center, 10% center;
  background-size: 100%,300% 200%;
  background-repeat: no-repeat;

  margin-top: -500px;
  padding-top: 580px;

}
#sectionThird .myH1,#sectionFifth .myH1{
  color: #fff;
}
#sectionThird .suitableItem{
  background-color: transparent;
}
#sectionThird .myP{
  color: #fff;
}
#sectionThird .card-title{
  color: #92FFD8;
}


/*
================================
  sectionFourth help
================================
*/
#sectionFourth .helpItem{
  position: relative;
  margin-top: 50px;
  padding-top: 100px;
  height: 100%;
  border-color: #2F717C;
}
#sectionFourth .reportHelpItemImg{
  width: 125px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-150px);
  z-index: 5;

}
#sectionFourth .card-title{
  color: #1597A1;
}


/*
================================
  sectionFifth format
================================
*/
#sectionFifth{
  background: no-repeat bottom right;
  background-image: url("../images/bg_reportFormat02.png"), url("../images/bg_reportFormat01.jpg");
  background-size: auto 100%;
  background-position: bottom left,bottom right;
  background-color: #0A2F3C;
}

#sectionFifth.myRow{
  padding-top: 100px;
  padding-bottom: 100px;
}

#sectionFifth .myRowInner{
  padding-top: 0px;
  padding-bottom: 0px;
}

.formatList{
  margin-bottom: 30px;
}
.formatItem{
  background-color: transparent;
  color: #fff;
  border: 0px solid transparent;
  padding-left: 0px;
}

/*
================================
  Footer
================================
*/
.myFooter {
  background-color: #2E2D37;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 14px; 
  position: relative;
}
.myFooter .row{
  -ms-flex-pack: center;
  justify-content: center;
}

.footerHr{
  border-top-color: rgb(116, 115, 129 ,.4);
  border-width: 2px;
}

.footerInfo{
  display: flex;
}
.myDeclare{
  line-height: 2;
}

.myFooter .nav .nav-link{
  color: #fff;
}
.myFooter .nav .nav-link:first-child{
  padding-left: 0px;
}

.myFooter .nav .nav-link:hover{
  color: #75AE21;
  text-decoration: underline;
}




/*
================================
  contactBtn
================================
*/
.contactBtn{
  border-radius: 26px;
  background-image: -webkit-linear-gradient(90deg,rgba(3,176,188,1.00) 0%,rgba(4,217,150,1.00) 100%);
  background-image: -moz-linear-gradient(90deg,rgba(3,176,188,1.00) 0%,rgba(4,217,150,1.00) 100%);
  background-image: -o-linear-gradient(90deg,rgba(3,176,188,1.00) 0%,rgba(4,217,150,1.00) 100%);
  background-image: linear-gradient(0deg,rgba(3,176,188,1.00) 0%,rgba(4,217,150,1.00) 100%);
  color: #fff;
  padding: 0.6rem 1.4rem;
  letter-spacing: 1px;
  -webkit-box-shadow: 0 6px 20px rgba(58,163,171,0.20),0 3px 5px rgba(58,163,171,0.20);
  box-shadow: 0 6px 20px rgba(58,163,171,0.20),0 3px 5px rgba(58,163,171,0.20);
  transition: all .4s ease-out;
  position: relative;
  background-size: 300% 100%;
  overflow: hidden; /* sheen 隱藏 */
}
.contactBtn::before {
content: "";
background-color: rgba(255, 255, 255, .5);
height: 100%;
width: 3em;
display: block;
position: absolute;
top: 0;
left: -4.5em;
-webkit-transform: skewX(-45deg) translateX(0);
        transform: skewX(-45deg) translateX(0);
transition: none;
}
.contactBtn:hover::before {
-webkit-transform: skewX(-45deg) translateX(13.5em);
        transform: skewX(-45deg) translateX(13.5em);
transition: all 0.5s ease-in-out;
}

.contactBtn:hover{
color: #fff;
/*
  background-position: 100% 0;
  -webkit-box-shadow: 0 9px 24px rgba(58,163,171,0.30),0 3px 8px rgba(58,163,171,0.30);
  box-shadow: 0 9px 24px rgba(58,163,171,0.30),0 3px 8px rgba(58,163,171,0.30);
*/
moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* Initiate Auto-Pulse animations */
/* .contactBtn::after {animation: borderPulse 1000ms infinite ease-out, colorShift 10000ms infinite ease-in; width: 100%; height: 100%; content: "";position: absolute;left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%);border-radius: 26px;} */

/* Declare border pulse animation */
@keyframes borderPulse {
0% {
  box-shadow:  0px 0px 0px 5px rgba(255, 255, 255,.4), 0px 0px 0px 0px rgba(255,255,255,1);
}
100% {
  box-shadow:  0px 0px 0px 3px rgba(58,163,171,0.30), 0px 0px 0px 10px rgba(255,255,255,0);
}
}
@keyframes sheen {
0% {
  transform: skewY(-45deg) translateX(0);
}
100% {
  transform: skewY(-45deg) translateX(12.5em);
}
}

/*
  ========================================
  Animation fixed right BTN
  ========================================
*/

#slideAD {
   position: fixed;
 
   /**因為要做在右側的功能，所以就距右邊界為0**/
   right: 0;
 
   /**距底多少也可以在這邊調整數值**/
   bottom: 150px;
 
   z-index: 5;
 
   /**按鈕的高度設置**/
   height: 239px;
 
   /**按鈕的slide動畫效果，中間的數值是動畫延遲的時間設定.3s等於0.3秒**/
   -webkit-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
 
   /**此為位移設定，X表示水平的位置變化，數值100%等於整張圖位移到邊界之外，就像是隱藏一樣**/
   -webkit-transform: translateX(100%);
   transform: translateX(100%);
 
   cursor: pointer;
}
 
/**以下為scroll畫面後JS會指定class="active"給#slideAD，接著圖片位置歸位，也就是圖片顯示**/
/**此為位移設定，X表示水平的位置變化，數值0等於原本圖片的位置**/
#slideAD.active, #slideAD.mouseover-active {
   -webkit-transform: translateX(0);
   transform: translateX(0);
}




/*
================================
  go top
================================
*/
.goTopOuter {
  cursor: pointer;
}
.goTopImg{
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 5px;
  

}

.goTopOuter{
  background-image: url("../images/goTop_bg.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 90%;
  position: absolute;
  bottom: 15px;
  right: 30px;
  padding: 10px;
}
.goTopImg{
  position: relative;
}
.goTopImg:hover{
  background-image: url("../images/goTop_light.svg");
  background-position: top center;
  background-repeat: no-repeat;
  animation: ani1 0.01s alternate infinite;
}
.goTopText{
  color: #92FFD8;
}

@keyframes ani1 {
  from {
    right: 0px;
  }
  to {
    right: 1px;
  }
}
.change_p-f{
  position: fixed;
  bottom: 50px;
  right: 40px;
}



.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px; 
  z-index: 6;
}

#back-to-top.btn {
  background-color: rgba(4,217,150, 0.9);
  padding: 0.7rem 1rem;
  font-size: 1.5rem;
  line-height: 1;
  border-radius: 50%;
  border-color: rgba(4,217,150, 0);
  color: #fff; }
  #back-to-top.btn:hover {
    background-color: rgba(4,217,150, 1); }
  #back-to-top.btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(4,217,150, 0.5); }
  #back-to-top.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(4,217,150, 0.5); }









@media (max-width: 1400px) {
  .main img.main_element04 {
    width: 110%;
  }
  .change_p-f{
    position: fixed;
    bottom: 50px;
    transform: translateX(-35px);
  }
  

}



@media (max-width: 1200px) {
  .navbar{
     max-width: 100%;
     margin: auto 15px ;
  }
  .main img.main_element04{
    width: 170%;
    right: -30%;
  }
  .myFooter .myRowInner{
    margin-right: 100px;
  }
  .helpItemOutder:last-child{
    margin-bottom: 80px;
    margin-top: 100px;
  }
}
@media (max-width: 991px) {
  .nav-reportTitle .hr{
     width: 0;
  }
  .main img.main_element03 {
    display: none;
  }

  .main img.main_element03-sm {
    display: block;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
  .main img.main_element04 {
    display: none;
  }
  .footerInfo{
    display: block;
    
  }
  .myFooter .myRowInner{
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .change_p-f{
    position: fixed;
    bottom: 50px;
    transform: translateX(-45px);
  }


}





@media (max-width: 767px) {
  .myH1, .myH2, .myP {
    line-height: 1.5; }

  .myH1 {
    font-size: 21.6px;
    margin-bottom: 30px; }

  .myH2 {
    font-size: 16.8px;
    margin-left: inherit; }

  .myListItem {
    padding-right: inherit; }

  .myP {
    font-size: 14.4px;
    margin-left: inherit; } 
  .nav-reportTitle .hr,.nav-reportTitle .reportTitle{
      display: none;
   }
   .TFlogo_reportLogo{
     width: 100%;
   }
   .main img.main_element03-sm {
    width: 80%;
  }
  .reportProvideImgOuter img{
    width: 350px;
    transform: translateX(-50%) translateY(-120%);
  }
  #sectionTwo .sectionInner{
    margin-top: 150px;
  }
  #sectionThird{
    margin-top: -500px;
    padding-top: 580px;
  }
  .helpItemOutder:not(:first-child){
    margin-top: 100px;
  }
  #sectionFourth .reportHelpItemImg{
    width: 100px;
    transform: translateX(-50%) translateY(-100px);
  }
  #sectionFourth .helpItem{
    padding-top: 50px;
  }
  .goTopOuter{
    display: none;
  }
  .myFooter .myRowInner{
    margin-right: 0px;
  }

  
  
  }
@media (max-width: 575px) {
  #sectionFirst {
    padding-top: 100px;
    padding-bottom: 100px; }

  .myNav {
    background-color: rgba(54, 65, 62, 0); }
    .myNav .navbar {
      padding: 0; }
      .myNav .navbar .navbar-togglerOuter {
        background-color: #36413E;
        width: 100%;
        padding: 10px; }
        .myNav .navbar .navbar-togglerOuter .navbar-toggler {
          float: right; }
          .myNav .navbar .navbar-togglerOuter .navbar-toggler .navbar-toggler-icon {
            color: #fff; }
      .myNav .navbar .navbar-collapse {
        background-color: rgba(54, 65, 62, 0.95); }
        .myNav .navbar .navbar-collapse .navbar-nav .nav-item {
          padding: 0 1.5em; }
          .myNav .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
            text-align: center; }
            .myNav .navbar .navbar-collapse .navbar-nav .nav-item .nav-link::after {
              content: none; } 
              .reportNav .btn.contactBtn{
                display: none;
              }
              .main img.main_element03-sm {
                width: 85%;
              }
                        
              .reportProvideImgOuter img{
                width: 280px;
                transform: translateX(-50%) translateY(-130%);
              } 
              #sectionTwo .sectionInner{
                padding-top: 150px;
              }
              .myRow {
                padding-top: 50px;
                padding-bottom: 50px;
            }
            
            
}


