body{background-color: #131B2D; color: #D8F1FF;}
a{color: inherit;}
a:hover{color: inherit;}
.nav-item a.active{color: #0EC7A1;}
.nav__itemNum{color: #0EC7A1;}
.nav__line{background-color: #D8F1FF;}
.nav-item a.active .nav__line{background-color: #0EC7A1;}
.nav-item a.active .nav__itemNum{color: #D8F1FF;}

.nav__tip .tooltiptext{background-color: #27364B; color: #D8F1FF;}


.linkBtn{color: #0EC7A1; border-color: #0EC7A1; }
.linkBtn:hover{color: #fff;}
.linkBtn::before{background-color: #0EC7A1;}

.layoutgrid__lineGroup .layoutgrid__line{border-color: #233256;}

.emailSection::after{background-color: #D8F1FF;}

.mainVisualIdentity_backgroundText{color: rgba(172,122,255,.03);}
.mainVisualIdentity_smallText{color: #0EC7A1;}

.mainVisualIdentity_Name::after{background-color: #FF4A6F;}
.mainVisualIdentity_Features{color: #93A4AF;}
.jobTitle{color: #93A4AF;}
.redCircle{background-color: #FF4A6F;}
.outlineCircle-green {border-color: #0EC7A1;}
.outlineCircle-cyan{border-color: #92FFE9;}
.title__text{color: #D2EFFF;}
.title__text::after{background-color: #D2EFFF;}
.title__num{color: #0EC7A1;}
.title__num::after{background-color: #0EC7A1;}
.list__item::before{color: #0EC7A1;}
.worked__pills .worked__tab.active{
    background-color: transparent;
    color: #0EC7A1;
}
.worked__pills .worked__tab.active::before{
    background-color: #0EC7A1;
}
.worked__title a{color: #0EC7A1;}
.workDescriptionGroup__enName{color: #0EC7A1;}
.workDescriptionGroup__textArea{background-color: rgba(39,52,77,.8);}
.workDescriptionGroup__text a, .workDescriptionGroup__text a:hover{color: #0EC7A1;}
.webLink, .webLink:hover{color: #0EC7A1;}

.toolGroup .toolGroup__item{color: #93A4AF;}


.workImgGroup__link .workImgGroup__frame{border-color: #0EC7A1;}
.dots-line span:first-child::after{background-color: #0EC7A1;}
.dots-line span:not(:first-child){background-color: #0EC7A1;}


.carousel__item a::before{background-color: rgba(14,199,161,.4);}
.carousel__item::after{background-color: #0EC7A1;}
.carousel__item.slick-center{border-color: #0EC7A1;}
.carousel__item.slick-center a::before{background-color: rgba(14,199,161,0);}
.carousel__item:hover a::before{background-color: rgba(14,199,161,0);}