body{font-family: "Roboto","Microsoft JhengHei";}
a{opacity: 1;}
a:hover{opacity: 0.9;text-decoration: none;}
p{line-height: 1.5;}
.navbar{position: fixed;width: 100%; transition: top 0.3s; z-index: 5;}
.nav__itemNum{display: block; font-size: 0.85em; transition: ease-in-out .2s;}
.nav__item{padding-right: 25px; position: relative;margin: 5px; transition: ease-in-out .2s;}
.nav__item:last-child{margin-right: 40px;}
.nav__hidden{
    position: absolute;
    width: 15px;
    height: 1px;
    right: 7px;
    bottom: 20px;
    margin-right: 0;
    transition: ease-in-out .2s;
    overflow: hidden;
}
.nav__line{
    width: 15px;
    height: 1px;
    position: absolute;
}
.nav__item:hover .nav__line{
    animation: mymove 1.1s infinite 0.2s;
    animation-timing-function: linear;
}
@keyframes mymove {
    from {right: 10px;}
    to {right: -15px;}
}

.nav__tip{position: relative;}
.nav__tip .tooltiptext {
    width: 120%;
    padding: 10px;
    opacity: 0;
    font-size: .8em;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    transition: ease-in-out .2s;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltiptext::before{
    content: "";/*讓before顯示出來*/
    position: absolute;
    top: -0.2em; /*調整位置*/
    left: 1em;/*調整位置*/
    padding: .9em;/*做出對話框的角*/
    background-color: inherit;
    border: inherit;/*讓before繼承talkingFrame的CSS屬性*/
    border-right: 0;/*隱藏內邊的border*/
    border-bottom: 0;/*隱藏內邊的border*/
    transform: rotate(45deg);/*旋軟角度*/
    z-index: -1;
}
.nav__tip:hover .tooltiptext {opacity: 1;}		





.linkBtn{
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}
.linkBtn::before{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    transition: ease-in-out .2s;
    left: 0;
    top: 0; 
    z-index: -1;
}
.linkBtn:hover::before{
    width: 100%;
}



.layoutgrid{
    z-index: -1;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}
.container, .layoutgrid__lineGroup{
    height: 100%;
}
.layoutgrid__line{
    border-right: 1px solid #000;
    height: 100%;
    align-items: stretch;
}
.layoutgrid__line:first-child{
    border-left: 1px solid #000;
} 


.emailSection{
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    position: fixed;
    right: 40px;
    bottom: 0px;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 110px;
    
}
.emailSection::after{
    content: "";
    width: 1px;
    height: 100px;
    display: block;
    bottom: 0;
    position: absolute;
    right: 12px;
}


.mediaSection{
    position: fixed;
    left: 40px;
    bottom: 40px;
}



.container{position: relative;}
.mainVisualIdentity{position: relative;}
.mainVisualIdentity__textArea{position: relative;}
.mainVisualIdentity_backgroundText{
    position: absolute;
    font-size: 350px;
    font-weight: 800;
    line-height: 1;
    top: 50%;
    transform: translateY(-50%);
}
.mainVisualIdentity_smallText{
    font-size: 1.1em;
}
.mainVisualIdentity_Name{
    font-size: 100px;
}
.mainVisualIdentity_Name::after{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    right: -20px;
    bottom: -5px;
}
    
.mainVisualIdentity_Features{
    font-size: 100px;
}
.mainVisualIdentity_selfIntroduction{
    font-size: 16px;
}

.jobTitle{
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;

}
.jobTitle p{
    margin: 0;
    font-size: 1.2em;
}
.jobTitle .jobTitle_secondLine{
    padding-top: 150px;
    position: relative;
    
}
.redCircle:first-child{margin-top: 10px;}
.redCircle{
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin-top: 5px;
}
.outlineCircle{
    display: inline-block;
    border-radius: 35%;
    border: 1px solid #000;
    position: absolute;
}
.outlineCircle-big{
    width: 68px;
    height: 68px;
    border-width: 20px;
}
.outlineCircle-middle{
    width: 46px;
    height: 46px;
    border-width: 14px;
}
.mainVisualIdentity .outlineCircle.outlineCircle-green{
    bottom: 25%;
    left: -10%;
}
.mainVisualIdentity__textArea .outlineCircle.outlineCircle-green{
    right: 2%;
    top: 20%;
    left: initial;
}
.jobTitle .outlineCircle-middle{
    width: 60px;
    height: 60px;
    border-width: 18px;
    right: 50%;
    top: 30%;
}
.outlineCircle-cyan.outlineCircle-middle{
    position: fixed;
    left: 60%;
    bottom: 30%;
}




.section{padding-top: 100px;padding-bottom: 100;}
.title{
    position: relative;
    margin-bottom: 30px;
}
.title__text{
    font-size: 36px;
    font-weight: 500;
    padding-left: 50px;
    position: relative;
}
.title__text::after{
    content: "";
    width: 200px;
    height: 1px;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    margin-left: 15px;

}
.title__num{
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    top: -10px;
}
.title__num::after{
    content: "";
    background-color: #fff;
    display: inline-block;
    width: 16px;
    height: 1px;
    transform: rotate(305deg);
    position: absolute;
    left: 150%;
    top: 125%;
}


.skillList{
    display: grid;
    grid-template-columns:repeat(2, minmax(140px, 200px));
    padding-left: 0px;
}
.skillList__item{
    list-style: none;
    line-height: 1.5;
}
.skillList__item::before{
    content: "►";/*填上你想要的項目符號*/
    margin-right: 10px;
    font-size: .2em;
}
