@tailwind base;
@tailwind components;
@tailwind utilities;

.test-border * {
  border: 1px solid red;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  #__next {
    @apply h-full;
  }
  html,
  body {
    @apply h-full w-full overflow-x-hidden;
  }
}

html {
  font-size: theme('fontSize.base');
}

.layout {
  @apply xl:container xl:px-0 px-10;
}

.main-bg-color {
  @apply from-yellow-200 to-sky-200 bg-gradient-270;
}

.main-bg-animation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  background: radial-gradient(
      ellipse at center,
      theme('colors.sky.100') 0%,
      rgba(0, 0, 0, 0) 70%
    ),
    radial-gradient(
      ellipse at center,
      theme('colors.yellow.300') 0%,
      rgba(0, 0, 0, 0) 70%
    ),
    radial-gradient(
        ellipse at center,
        theme('colors.sky.100') 0%,
        rgba(0, 0, 0, 0) 70%
      )
      #fff;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 800px 800px, 600px 600px, 800px 800px;
  background-attachment: fixed;
  animation: bganimation 30s infinite;
}

@keyframes bganimation {
  0% {
    background-position: -100% -100%, 200% 200%, -100% 200%, 200% -100%;
  }
  50% {
    background-position: 150% 100%, -200% 100%, 100% 0%, 0% 100%;
  }
  100% {
    background-position: -100% -100%, 200% 200%, -100% 200%, 200% -100%;
  }
}
